<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        //- link(rel="stylesheet", href="../public/css/styles.css")

        title Todo-App
    body
.container
    block content
    br
    hr
    footer
        p Copyright &copy; 2020 this is simple web app designed and developed by
            a(href="https://www.linkedin.com/in/ajay-meena1/") Ajay


    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")